Repository kaidam/nocode-templates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_standard, publish_blog

publish_standard:
  stage: publish
  script:
  - docker build -t nocode-template-standard:$CI_COMMIT_SHA standard
  - docker run --rm --entrypoint yarn -e ACCESS_TOKEN=none -e WEBSITE_ID=1 nocode-template-standard:$CI_COMMIT_SHA template:preview --skip-build --use-preview-file /app/test/fixtures/data.json
  ...

publish_blog:
  stage: publish
  script:
  - docker build -t nocode-template-blog:$CI_COMMIT_SHA blog
  - docker run --rm --entrypoint yarn -e ACCESS_TOKEN=none -e WEBSITE_ID=1 nocode-template-blog:$CI_COMMIT_SHA template:preview --skip-build --use-preview-file /app/test/fixtures/data.json
  ...

redirect to first blog page as default and handle close hide menu
  blog/src/onboarding.js
Due: publish_blog

show edit message for blogpost hero section
  blog/src/pages/HeroSection.js
  blog/src/pages/PostHeroSection.js
Due: publish_blog

bump libs
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.101
  standard/package.json
Due: publish_standard

v0.0.16
  blog/package.json
Due: publish_blog

v0.0.17
  blog/package.json
Due: publish_blog

v0.0.102
  standard/package.json
Due: publish_standard

v0.0.103
  standard/package.json
Due: publish_standard

v0.0.18
  blog/package.json
Due: publish_blog

bump
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.104
  standard/package.json
Due: publish_standard

v0.0.19
  blog/package.json
Due: publish_blog

bump yarns
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

initial skeleton template
  skeleton/.dockerignore
  skeleton/Dockerfile
  skeleton/bump
  skeleton/package.json
  skeleton/src/app.js
  skeleton/src/browser.js
  skeleton/src/constants.js
  skeleton/src/library.js
  skeleton/src/onboarding.js
  skeleton/src/pages/Document.js
  skeleton/src/pages/HeroSection.js
  skeleton/src/pages/Layout.js
  skeleton/src/pages/PostHeroSection.js
  skeleton/src/screenshot.png
  skeleton/src/server.js
  skeleton/src/settings.js
  skeleton/src/static/css/index.css
  skeleton/src/static/images/favicon.png
  skeleton/src/static/images/nocode-logo.png
  skeleton/src/static/images/placeholder-logo.jpg
  skeleton/src/styles/layout.js
  skeleton/src/themeProcessor.js
  skeleton/src/utils.js
  skeleton/test/fixtures/data.json
  skeleton/yarn.lock
Due: none

remove comments
  skeleton/src/utils.js
Due: none

move hero image above document toolbar
  skeleton/src/pages/Document.js
  skeleton/src/pages/Layout.js
  skeleton/src/styles/layout.js
Due: none

include theme setting in image search
  skeleton/src/settings.js
  skeleton/src/utils.js
Due: none

trigger theme based keyword search for "random" image
  skeleton/src/library.js
  skeleton/src/utils.js
Due: none

add template version
  skeleton/package.json
Due: none

change title
  skeleton/package.json
Due: none

setup
  appsumo_template_1/.dockerignore
  appsumo_template_1/Dockerfile
  appsumo_template_1/bump
  appsumo_template_1/package.json
  appsumo_template_1/src/app.js
  appsumo_template_1/src/browser.js
  appsumo_template_1/src/constants.js
  appsumo_template_1/src/library.js
  appsumo_template_1/src/onboarding.js
  appsumo_template_1/src/pages/Document.js
  appsumo_template_1/src/pages/HeroSection.js
  appsumo_template_1/src/pages/Layout.js
  appsumo_template_1/src/pages/PostHeroSection.js
  appsumo_template_1/src/screenshot.png
  appsumo_template_1/src/server.js
  appsumo_template_1/src/settings.js
  appsumo_template_1/src/static/css/index.css
  appsumo_template_1/src/static/images/favicon.png
  appsumo_template_1/src/static/images/nocode-logo.png
  appsumo_template_1/src/static/images/placeholder-logo.jpg
  appsumo_template_1/src/styles/layout.js
  appsumo_template_1/src/themeProcessor.js
  appsumo_template_1/src/utils.js
  appsumo_template_1/test/fixtures/data.json
  appsumo_template_1/yarn.lock
  standard/package-lock.json
Due: publish_standard

tailwind nav
  appsumo_template_1/src/pages/Layout.js
Due: none

bump version
  standard/package.json
Due: publish_standard

cv template
  cv/.dockerignore
  cv/Dockerfile
  cv/bump
  cv/package.json
  cv/src/app.js
  cv/src/browser.js
  cv/src/constants.js
  cv/src/library.js
  cv/src/onboarding.js
  cv/src/pages/Document.js
  cv/src/pages/HeroSection.js
  cv/src/pages/Layout.js
  cv/src/pages/PostHeroSection.js
  cv/src/screenshot.png
  cv/src/server.js
  cv/src/settings.js
  cv/src/static/css/overrides.css
  cv/src/static/images/favicon.png
  cv/src/static/images/nocode-logo.png
  cv/src/static/images/placeholder-logo.jpg
  cv/src/styles/layout.js
  cv/src/themeProcessor.js
  cv/src/utils.js
  cv/test/fixtures/data.json
  cv/yarn.lock
Due: none

fix classname
  cv/src/pages/Layout.js
Due: none

changes to get the overrides to work
  cv/src/pages/Layout.js
  cv/src/static/css/overrides.css
  cv/src/styles/layout.js
Due: none

update libs
  blog/yarn.lock
  cv/yarn.lock
  scripts/update_templates.sh
  standard/yarn.lock
Due: publish_standard, publish_blog

update to correct template name
  cv/package.json
Due: none

add initial options and default layout
  blog/src/settings.js
  cv/src/settings.js
  standard/src/settings.js
Due: publish_standard, publish_blog

allow background color to come via settings
  cv/src/styles/layout.js
  cv/src/themeProcessor.js
Due: none

add social links and search to template
  cv/src/pages/Layout.js
  cv/src/styles/layout.js
Due: none

bump toolkit library version
  blog/yarn.lock
  cv/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

cv tweaks
  cv/package.json
  cv/src/pages/Layout.js
  cv/src/settings.js
  cv/src/styles/layout.js
  cv/src/themeProcessor.js
Due: none

sidebars progress
  cv/src/pages/Layout.js
  cv/src/settings.js
  cv/src/styles/layout.js
Due: none

cv tempalte
  cv/src/pages/Layout.js
  cv/src/styles/layout.js
Due: none

fix layout issues
  cv/src/pages/Layout.js
  cv/src/styles/layout.js
Due: none

upgrade
  blog/yarn.lock
  cv/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

tweaks
  cv/src/pages/Layout.js
  cv/src/styles/layout.js
Due: none

Path conditions:
  publish_standard: any of: standard/**/*
  publish_blog: any of: blog/**/*
