Repository kaidam/nocode-templates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_standard, publish_blog

.gitlab-ci.yml:

variables:
  NOCODE_API_HOSTNAME: https://app.nocode.works

stages:
  - publish

publish_standard:
  stage: publish
  only:
    refs:
      - master
    changes:
      - "standard/**/*"
  script:
    - docker build -t nocode-template-standard:$CI_COMMIT_SHA standard
    # test the template building against fixture data to catch silly errors
    - docker run --rm --entrypoint yarn -e ACCESS_TOKEN=none -e WEBSITE_ID=1 nocode-template-standard:$CI_COMMIT_SHA template:preview --skip-build --use-preview-file /app/test/fixtures/data.json
    - docker run --rm -e NOCODE_API_HOSTNAME -e ACCESS_TOKEN nocode-template-standard:$CI_COMMIT_SHA --skip-build

publish_blog:
  stage: publish
  only:
    refs:
      - master
    changes:
      - "blog/**/*"
  script:
    - docker build -t nocode-template-blog:$CI_COMMIT_SHA blog
    # test the template building against fixture data to catch silly errors
    - docker run --rm --entrypoint yarn -e ACCESS_TOKEN=none -e WEBSITE_ID=1 nocode-template-blog:$CI_COMMIT_SHA template:preview --skip-build --use-preview-file /app/test/fixtures/data.json
    - docker run --rm -e NOCODE_API_HOSTNAME -e ACCESS_TOKEN nocode-template-blog:$CI_COMMIT_SHA --skip-build

default logo
  cv/src/pages/Layout.js
Due: none

remove logging
  cv/src/pages/Layout.js
Due: none

remove images from initial settings
  cv/src/settings.js
Due: none

cv tweaks
  cv/src/styles/layout.js
Due: none

flexing
  cv/src/settings.js
  cv/src/styles/layout.js
Due: none

cv flex and new sidebars
  cv/src/pages/Layout.js
  cv/src/styles/layout.js
  cv/src/themeProcessor.js
Due: none

slight tweak to sidebar
  cv/src/styles/layout.js
Due: none

central template
  central/.dockerignore
  central/Dockerfile
  central/bump
  central/package.json
  central/src/app.js
  central/src/browser.js
  central/src/constants.js
  central/src/library.js
  central/src/onboarding.js
  central/src/pages/Document.js
  central/src/pages/HeroSection.js
  central/src/pages/Layout.js
  central/src/pages/PostHeroSection.js
  central/src/screenshot.png
  central/src/server.js
  central/src/settings.js
  central/src/static/images/favicon.png
  central/src/static/images/nocode-logo.png
  central/src/static/images/placeholder-logo.jpg
  central/src/styles/layout.js
  central/src/themeProcessor.js
  central/src/utils.js
  central/test/fixtures/data.json
  central/yarn.lock
Due: none

fix template height in central
  central/package.json
  central/src/pages/Document.js
  central/src/styles/layout.js
Due: none

fix cv height issues
  cv/src/pages/Document.js
  cv/src/styles/layout.js
Due: none

minimal template
  minimal/.dockerignore
  minimal/Dockerfile
  minimal/bump
  minimal/package.json
  minimal/src/app.js
  minimal/src/browser.js
  minimal/src/constants.js
  minimal/src/library.js
  minimal/src/onboarding.js
  minimal/src/pages/Document.js
  minimal/src/pages/HeroSection.js
  minimal/src/pages/Layout.js
  minimal/src/pages/PostHeroSection.js
  minimal/src/screenshot.png
  minimal/src/server.js
  minimal/src/settings.js
  minimal/src/static/images/favicon.png
  minimal/src/static/images/nocode-logo.png
  minimal/src/static/images/placeholder-logo.jpg
  minimal/src/styles/layout.js
  minimal/src/themeProcessor.js
  minimal/src/utils.js
  minimal/test/fixtures/data.json
  minimal/yarn.lock
Due: none

business tempalte
  business/.dockerignore
  business/Dockerfile
  business/bump
  business/package.json
  business/src/app.js
  business/src/browser.js
  business/src/constants.js
  business/src/library.js
  business/src/onboarding.js
  business/src/pages/Document.js
  business/src/pages/HeroSection.js
  business/src/pages/Layout.js
  business/src/pages/PostHeroSection.js
  business/src/screenshot.png
  business/src/server.js
  business/src/settings.js
  business/src/static/images/favicon.png
  business/src/static/images/nocode-logo.png
  business/src/static/images/placeholder-logo.jpg
  business/src/styles/layout.js
  business/src/themeProcessor.js
  business/src/utils.js
  business/test/fixtures/data.json
  business/yarn.lock
Due: none

business tweaks
  business/src/pages/Layout.js
  business/src/styles/layout.js
Due: none

bump version
  cv/yarn.lock
Due: none

fix section names
  central/src/settings.js
  minimal/src/settings.js
Due: none

add home section
  cv/src/settings.js
Due: none

add featured image to central template
  blog/src/pages/RandomImageLoader.js
  central/src/pages/Document.js
  central/src/settings.js
Due: publish_blog

add portfolio template - remove sidebars from cv
  portfolio/.dockerignore
  portfolio/Dockerfile
  portfolio/bump
  portfolio/package.json
  portfolio/src/app.js
  portfolio/src/browser.js
  portfolio/src/constants.js
  portfolio/src/library.js
  portfolio/src/onboarding.js
  portfolio/src/pages/Document.js
  portfolio/src/pages/HeroSection.js
  portfolio/src/pages/Layout.js
  portfolio/src/pages/PostHeroSection.js
  portfolio/src/screenshot.png
  portfolio/src/server.js
  portfolio/src/settings.js
  portfolio/src/static/images/favicon.png
  portfolio/src/static/images/nocode-logo.png
  portfolio/src/static/images/placeholder-logo.jpg
  portfolio/src/styles/layout.js
  portfolio/src/themeProcessor.js
  portfolio/src/utils.js
  portfolio/test/fixtures/data.json
  portfolio/yarn.lock
Due: none

split social links out into hook and don't render if none
  central/src/pages/Layout.js
Due: none

reload images when resync from drive is done
  central/src/utils.js
  scripts/update_templates.sh
Due: none

bump versions
  blog/yarn.lock
  business/yarn.lock
  central/yarn.lock
  cv/yarn.lock
  minimal/yarn.lock
  portfolio/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

Blog polish
  blog/src/pages/Document.js
  blog/src/pages/Layout.js
  blog/src/settings.js
  blog/src/static/css/index.css
  blog/src/styles/layout.js
Due: publish_blog

Blog settings
  blog/src/settings.js
Due: publish_blog

blog content pages
  blog/src/settings.js
Due: publish_blog

flex docs temaplte
  standard/package.json
  standard/src/styles/layout.js
  standard/yarn.lock
Due: publish_standard

Docs tweaks
  standard/src/pages/Layout.js
  standard/src/settings.js
  standard/src/styles/layout.js
  standard/yarn.lock
Due: publish_standard

docs word docs
  standard/src/settings.js
Due: publish_standard

central settings
  central/src/settings.js
Due: none

version no
  central/package.json
Due: none

don't use portfolio
  scripts/update_templates.sh
Due: none

remove node_modules before upgrade to get around link problems
  scripts/update_templates.sh
Due: none

bump toolkit
  blog/yarn.lock
  business/yarn.lock
  central/yarn.lock
  cv/yarn.lock
  minimal/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

bump versions
  blog/package.json
  central/package.json
Due: publish_blog

fix social links white blob
  business/src/pages/Layout.js
  cv/src/pages/Layout.js
  minimal/src/pages/Layout.js
Due: none

bump version
  minimal/package.json
Due: none

word documents and menu order fix
  blog/src/settings.js
  business/package.json
  business/src/pages/Layout.js
  business/src/settings.js
  central/src/settings.js
  cv/src/settings.js
  minimal/src/pages/Layout.js
  minimal/src/settings.js
  portfolio/src/settings.js
  standard/src/settings.js
Due: publish_standard, publish_blog

logos and responsive
  blog/src/pages/Layout.js
  blog/src/static/images/placeholder-logo.jpg
  blog/src/static/images/placeholder-logo.png
  business/src/pages/Layout.js
  business/src/static/images/placeholder-logo.jpg
  business/src/static/images/placeholder-logo.png
  central/src/pages/Layout.js
  central/src/static/images/placeholder-logo.jpg
  central/src/static/images/placeholder-logo.png
  cv/src/pages/Layout.js
  cv/src/static/images/placeholder-logo.jpg
  cv/src/static/images/placeholder-logo.png
  minimal/src/pages/Layout.js
  minimal/src/static/images/placeholder-logo.jpg
  minimal/src/static/images/placeholder-logo.png
  portfolio/src/pages/Layout.js
  standard/src/pages/Layout.js
  standard/src/static/images/placeholder-logo.jpg
  standard/src/static/images/placeholder-logo.png
Due: publish_standard, publish_blog

bump library
  blog/yarn.lock
  business/yarn.lock
  central/yarn.lock
  cv/yarn.lock
  minimal/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

updates
  blog/package.json
  blog/src/pages/Layout.js
  blog/src/screenshot.png
  business/package.json
  business/src/pages/Layout.js
  business/src/screenshot.png
  business/src/settings.js
  central/package.json
  central/src/pages/Layout.js
  central/src/screenshot.png
  central/src/settings.js
  cv/package.json
  cv/src/pages/Layout.js
  cv/src/screenshot.png
  cv/src/settings.js
  minimal/package.json
  minimal/src/pages/Layout.js
  minimal/src/screenshot.png
  minimal/src/settings.js
  portfolio/src/pages/Layout.js
  standard/package.json
  standard/src/pages/Layout.js
  standard/src/screenshot.png
Due: publish_standard, publish_blog

bump version
  standard/package.json
Due: publish_standard
