Repository kaidam/nocode-templates: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_standard, publish_blog

publish_standard:
  stage: publish
  services:
  - docker:19.03-dind
  script:
  - docker build -t nocode-template-standard:local standard
  - docker run --rm --entrypoint yarn -e ACCESS_TOKEN=none -e WEBSITE_ID=1 nocode-template-standard:local template:preview --cache-preview-file /app/test/fixtures/data.json
  ...

publish_blog:
  stage: publish
  services:
  - docker:19.03-dind
  script:
  - docker build -t nocode-template-blog:local blog
  - docker run --rm -e NOCODE_API_HOSTNAME -e ACCESS_TOKEN nocode-template-standard:local

fix template CI
  .gitlab-ci.yml
  blog/test/fixtures/data.json
  blog/yarn.lock
  standard/test/fixtures/data.json
  standard/yarn.lock
Due: publish_standard, publish_blog

fix blog job
  .gitlab-ci.yml
Due: none

run build inside docker containers
  .gitlab-ci.yml
  blog/Dockerfile
  standard/Dockerfile
Due: publish_standard, publish_blog

v0.0.4
  blog/package.json
Due: publish_blog

v0.0.91
  standard/package.json
Due: publish_standard

bump
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.5
  blog/package.json
Due: publish_blog

v0.0.92
  standard/package.json
Due: publish_standard

v0.0.6
  blog/package.json
Due: publish_blog

v0.0.93
  standard/package.json
Due: publish_standard

upgrade
  blog/yarn.lock
  scripts/update_templates.sh
  standard/src/pages/Layout.js
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.7
  blog/package.json
Due: publish_blog

v0.0.94
  standard/package.json
Due: publish_standard

mlops ci
  .gitlab-ci.yml
  blog/bump
  scripts/ci_connect.sh
  standard/bump
Due: publish_standard, publish_blog

bump
  blog/package.json
  standard/package.json
Due: publish_standard, publish_blog

don't show pages with no route
  blog/src/pages/BlogPosts.js
Due: publish_blog

bump template
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.96
  standard/package.json
Due: publish_standard

v0.0.9
  blog/package.json
Due: publish_blog

fix bug on missing annotation
  blog/src/pages/BlogPosts.js
Due: publish_blog

bump
  blog/src/pages/BlogPosts.js
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.10
  blog/package.json
Due: publish_blog

v0.0.97
  standard/package.json
Due: publish_standard

defend against missing annotation
  blog/src/utils.js
Due: publish_blog

v0.0.11
  blog/package.json
Due: publish_blog

point at actual blog template
  blog/package.json
Due: publish_blog

v0.0.98
  standard/package.json
Due: publish_standard

v0.0.12
  blog/package.json
Due: publish_blog

bump versions
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.13
  blog/package.json
Due: publish_blog

update modules
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.99
  standard/package.json
Due: publish_standard

v0.0.14
  blog/package.json
Due: publish_blog

bump libs
  blog/yarn.lock
  standard/yarn.lock
Due: publish_standard, publish_blog

v0.0.100
  standard/package.json
Due: publish_standard

v0.0.15
  blog/package.json
Due: publish_blog

wider toolbar so extra buttons have room
  standard/src/styles/layout.js
Due: publish_standard

move extra blog pages into toolbar
  blog/src/pages/Document.js
  blog/src/pages/Layout.js
  blog/src/styles/layout.js
  blog/src/themeProcessor.js
Due: publish_blog

better blog layout with extra pages in footer and logo
  blog/src/pages/Layout.js
  blog/src/settings.js
  blog/src/styles/layout.js
Due: publish_blog

Path conditions:
  publish_standard: any of: standard/**/*
  publish_blog: any of: blog/**/*
